*{
    flex-wrap: wrap;
}

body{
    background-color: blanchedalmond;
    color: white;
    
}

header{
    background-color: lightblue;
    color: whitesmoke;
    box-sizing: border-box;
    height: max-content;
    border-style: solid;
    border-color: black;
    margin-bottom: 0px;
}


.location{
    color: yellow;
    border-style: solid;
    border-color: black;
    box-sizing: content-box;
    height: max-content;
    width: 27%;
    flex-direction: row;
    margin-bottom: 0px;
    position:relative; left: 35%

}

.searchBar{
    background-color: yellow;
    box-sizing: content-box;
    width: 98.5%;
    color: black;
    margin-bottom: 0px;
}

.searchBtn{
    background-color: yellow;
    color: black;
    border-style: solid;
    border-color: black;
    left: 250px;
    position: relative; left: 46%; 
    border-width: 5px;
    margin-bottom: 0px;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.card{
   margin-top: 0px;
   margin: 15px;
   box-sizing: border-box;
}

.card-header1{
    background-color: orange;
    border-style: solid;
    border-color: orange;
    height: 400px;
    width: 218px;
    margin-top: 0px;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
}

.card-header2{
    background-color: orangered;
    border-style: solid;
    border-color: orangered;
    height: 400px;
    width: 218px;
    margin-top: 0ppx;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
}

.card-header3{
    background-color: red;
    border-style: solid;
    border-color: red;
    height: 400px;
    width: 218px;
    margin-top: 0px;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
}

.card-header4{
    background-color: violet;
    border-style: solid;
    border-color: violet;
    height: 400px;
    width: 218px;
    margin-top: 0px;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
}

.card-header5{
    background-color: blueviolet;
    border-style: solid;
    border-color: blueviolet;
    height: 400px;
    width: 218px;
    margin-top: 0px;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
}

.card-header6{
    background-color: darkblue;
    border-style: solid;
    border-color: darkblue;
    height: 400px;
    width: 218px;
    margin-top: 0px;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
}

.previousCity{
        background-color: black;
        border-style: solid;
        border-color: black;
        height: 400px;
        width: 218px;
        margin-top: 0px;
        text-decoration: underline;
        margin: 16px;
        box-shadow: 10px 5px 5px black;
        border-radius: 25px;
}